<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>淘淘商城后台</title>
    <link rel="stylesheet" href="/layui/css/layui.css">

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">淘淘商城后台管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    admin
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">个人中心</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">注销</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">商品管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">商品分类添加</a></dd>
                        <dd><a href="javascript:;">商品分类查询</a></dd>
                        <dd><a id="addItem" href="javascript:;">商品添加</a></dd>
                        <dd><a href="javascript:;">商品查询</a></dd>
                        <dd><a href="javascript:;">商品规格参数模板添加</a></dd>
                        <dd><a href="javascript:;">商品规格参数模板查询</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">cms内容管理系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">cms内容模板添加</a></dd>
                        <dd><a href="javascript:;">cms内容模板查询</a></dd>
                        <dd><a href="javascript:;">cms内容添加</a></dd>
                        <dd><a href="javascript:;">cms内容查询</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">订单管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">查询订单</a></dd>
                        <dd><a href="javascript:;">订单统计</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">查询用户</a></dd>
                        <dd><a href="javascript:;">用户统计</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">权限管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">查看权限</a></dd>
                        <dd><a href="javascript:;">分配权限</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">活动管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">新增活动</a></dd>
                        <dd><a href="javascript:;">查看活动</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div id="content" style="padding: 15px;">内容主体区域</div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 欢迎来到淘淘商城后台管理系统
    </div>
</div>
<script src="/layui/layui.all.js"></script>
<script src="/layui/jquery-2.1.0.min.js"></script>
<script>

    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
    $("#addItem").click(function () {

        $("#content").load("addItem.html");
    })


</script>
</body>
</html>